<section class="w-full">
  <section class="flex w-full items-center my-8">
  <h1 class="flex-1">FAQs</h1>
  <%= link_to new_admin_faq_path do%>
  <%=t('faq.new')%>
    <span class="material-symbols-outlined">
      add
    </span>
  <%end%>
</section>
<section class="flex gap-3 p-4 items-center">

    <div class="flex items-center space-x-2 text-green-800">
      <span class="material-symbols-outlined">visibility</span>
      <span> <%= t('faq.caption.visible') %></span>
    </div>

    <div class="flex items-center space-x-2 text-red-800">
      <span class="material-symbols-outlined">visibility_off</span>
      <span> <%= t('faq.caption.hidden') %></span>
    </div>

</section>

<section class="flex flex-col gap-5 w-full mb-5">
  <% if @faqs.any? %>
    <%@faqs.each do |faq|%>
      <%= render partial: 'faq', locals: { faq: faq } %>
    <%end%>
  <% else %>
    <p><%= t('faq.not_found')%></p>
  <% end %>
</section>
</section>