<main>
<h1>Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-sgin' }) do |f| %>
  <div class="field">
    <%= f.label :email do %>
      <i class="material-symbols-outlined">alternate_email</i>
      <%= t(:email)%>
    <%end%>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password do%>
    <i class="material-symbols-outlined">password</i>
      <%= t(:password)%>
    <%end%>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions justify-between items-center">
    <%= f.submit "Log in" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>

</main>