<main class="flex flex-col justify-center items-center min-h-screen">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-sgin w-1/2' }) do |f| %>
    
    <h1 class="mb-4 text-2xl">Log in</h1>

    <div class="field mb-4">
      <%= f.label :email do %>
        <i class="material-symbols-outlined">alternate_email</i>
        <%= t(:email)%>
      <% end %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full' %>
    </div>

    <div class="field mb-4">
      <%= f.label :password do %>
        <i class="material-symbols-outlined">password</i>
        <%= t(:password)%>
      <% end %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'w-full' %>
    </div>

    <div class="actions w-full">
      <%= f.submit "Log in", class: 'w-full' %>
    </div>
  <% end %>
</main>
